.dashboard-page {
  .organizations {
    width: 50%;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    .organization-card {
      display: flex;
      align-items: center;
      gap: 1rem;

      cursor: pointer;
      background-color: var(--background-color-one);
      padding: 1rem;
      border-radius: 5rem;

      &:hover {
        background-color: var(--background-color-two);
      }

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }

      .name {
        font-size: 1.25rem;
      }
    }
  }
}
