.repository-page {
  display: flex;
  gap: 1rem;

  .navigation {
    margin: 1rem;
    width: 20%;
  }

  .file-list {
    width: 80%;
    height: calc(100vh - 5.5rem);
    overflow-y: auto;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    background-color: var(--background-color-one);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .file {
      display: flex;
      padding: 1rem;
      border-radius: 1rem;
      background-color: var(--background-color-two);
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--primary-color);
        cursor: pointer;
      }
    }
  }
}
