@import "tailwindcss";

@import "shared/header";
@import "shared/loader";
@import "shared/button";
@import "shared/card";
@import "shared/pagination";
@import "shared/modal";
@import "shared/markdown";
@import "shared/markdown-editor";
@import "shared/search_select";

@import "dashboard";
@import "organization";
@import "repository/repository";
@import "repository/issues";
@import "repository/issue";
@import "repository/pull_request";
@import "repository/sidebar";

body { 
  background-color: var(--background-color);
}

* {
  font-family: var(--font-family);
  color: var(--text-color);
  transition: all 0.3s ease;
}
