.side-wrapper {
  display: flex;
  flex: 1;

  .side {
    width: 100%;
    display: flex;

    &:hover {
      .add-comment-button {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &.adding-comment {
    flex-direction: column;
  }

  .add-comment-wrapper {
    background-color: var(--background-color-one);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0;
    
    width: calc(100% - 50px);
    margin-left: 50px;
  }

  :global(:has(.item-comment)) {
    flex-direction: column;

    :global(.item-comment) {
      border: 2px solid var(--background-color-two);
      border-radius: 1rem;

      :global(.item-comment-replies) {
        margin-top: 1rem;
      }
    }
  } 

  .line-number {
    padding: 0.125rem 0.5rem;
    text-align: right;
    vertical-align: top;
    user-select: none;
    color: var(--text-color-secondary);
    background-color: var(--background-color-two);
    border-right: 1px solid var(--border-color);
    min-width: 50px;
    width: 1%;
    white-space: nowrap;
    text-align: right;
    position: relative;

    .add-comment-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.25rem;
      border-radius: 0.5rem;
      background-color: var(--background-color-two);
      color: var(--text-color);
      cursor: pointer;
      border: 1px solid var(--border-color);
      aspect-ratio: 1/1;
      width: 1.5rem;

      opacity: 0;
      pointer-events: none;

      &:hover {
        background-color: var(--primary-color);
      }
    }
  }

  .diff-line-content {
    padding: 0.125rem 0.5rem;
    vertical-align: top;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: var(--text-color);
    flex: 1;
    background-color: var(--background-color-one);

    .prefix {
      user-select: none;
      margin-right: 0.5rem;
      opacity: 0.5;
    }

    .code {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }

  .diff-line-empty {
    background-color: var(--background-color);
    opacity: 0.3;
  }

  .diff-line-add {
    background-color: rgba(34, 197, 94, 0.1);

    &.diff-line-number {
      background-color: rgba(34, 197, 94, 0.15);
      border-right-color: rgba(34, 197, 94, 0.3);
    }

    .prefix {
      color: #22c55e;
      opacity: 1;
      font-weight: 700;
    }
  }

  .diff-line-del {
    background-color: rgba(239, 68, 68, 0.1);

    &.diff-line-number {
      background-color: rgba(239, 68, 68, 0.15);
      border-right-color: rgba(239, 68, 68, 0.3);
    }

    .prefix {
      color: #ef4444;
      opacity: 1;
      font-weight: 700;
    }
  }
}

:global(.code) {
  :global(span) {
    font-family:  monospace;
  }
}