.group {
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: 0.5rem;
  width: calc(95% - 1rem);
  margin: 1rem auto -0.5rem auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;

  .group-title {
    font-size: 0.75rem;
    color: var(--text-color-secondary);
  }

  .assignee, .reviewer {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
    }
  }

  .label {
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.75rem;
  }
}
