.group {
  background-color: var(--background-color-one);
  border-radius: 0.5rem;
  width: calc(95% - 1rem);
  margin: 1rem auto -0.5rem auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: relative;

  .body {
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    max-height: 0;
  }

  &:not(.open) {
    gap: 0;
  }

  .group-title {
    font-size: 0.85rem;
    color: var(--text-color-secondary);
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  :global(.gear) {
    color: var(--text-color-secondary);
  }
}
