.group {
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: 0.5rem;
  width: calc(95% - 1rem);
  margin: 1rem auto -0.5rem auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;

  .group-title {
    font-size: 0.75rem;
    color: var(--text-color-secondary);
  }
}
