.group {
  background-color: var(--background-color-one);
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .body {
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    max-height: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &:not(.open) .body {
    padding-bottom: 0;
  }

  &.open {
    border: 1px solid var(--background-color-two);
    gap: 0.5rem;

    .group-title {
      font-size: 0.75rem;
      margin: -0.25rem 0 0rem -.25rem;
    }
  }

  .group-title {
    font-size: 0.85rem;
    color: var(--text-color-secondary);
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  :global(.gear) {
    color: var(--text-color-secondary);
  }
}
