.repository-page .issues-list {

  .issue-wrapper {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--background-color-two);
    transition: all 0.3s ease;
    justify-content: space-between;

    &:hover {
      background-color: var(--primary-color);
      cursor: pointer;
    }

    .issue-info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h2 {
        font-size: 1.2rem;
      }

      p {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        color: var(--text-color-secondary);

        img {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
        }

        .label {
          font-size: 0.75rem;
          padding: 0.25rem;
          border-radius: 1rem;
        }
      }
    }

    .assignees {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
      }
    }
  }
}
