.issue-page, .pull-request-page {
  .main-content {
    width: 60%;
    height: 100%;
    min-height: 20rem;

    .issue-content, .pull-request-content {
      width: 100%;
      height: 100%;
      background-color: var(--background-color-one);
      padding: 1rem;
      border-radius: 1rem;

      .issue-header, .pull-request-header {
        background-color: var(--background-color-two);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-radius: 1rem;

        span, .created-at {
          font-size: 1.25rem;
          font-weight: bold;
        }

        .opened-by {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .created-at {
            margin-left: 0.5rem;
            color: var(--text-color-secondary);
            font-size: 0.9rem;
          }

          .author {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 1;
          }

          img {
            width: 1.24rem;
            height: 1.25rem;
            margin: 0rem 0.25rem;
            border-radius: 50%;
          }
        }
      }
    }

    .issue-comment, .pull-request-comment {
      border: 1px solid var(--border-color);
      border-radius: 1rem;
      margin-top: 1rem;
      overflow: hidden;

      .comment-header {
        background-color: var(--background-color-one);
        padding: 0.75rem 1rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .author {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          img {
            height: 2rem;
            border-radius: 50%;
          }

          .state {
            margin-right: 0.5rem;
            width: 2rem;
            height: 2rem;
            padding: 0.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: var(--background-color-two);
            border: 2px solid var(--primary-color-dark);

            &-approved {
              svg {
                fill: var(--primary-color);
              }
            }
            &-changes_requested {
              svg {
                fill: var(--text-color-secondary);
              }
            }
            &-commented {
              svg {
                fill: var(--text-color-secondary);
              }
            }
          }
        }

        .created-at {
          margin-left: 0.5rem;
          color: var(--text-color-secondary);
          font-size: 0.9rem;
        }
      }

      .markdown-body {
        margin-top: 1rem;
        padding: 0 1rem 1rem 1rem;

        // Comments are mainly raw text, so lets use main text color
        p {
          color: var(--text-color);
        }

        .diff-hunk {
          background-color: var(--background-color-two);
          
          border-radius: 1rem;
          padding-bottom: 0.5rem;
          margin-bottom: 0.5rem;

          .file-name {
            display: block;
            padding: 0.5rem;
            border-radius: 0.5rem 0.5rem 0 0;
            width: 100%;
            background-color: var(--background-color-one);
            margin-bottom: 0.5rem;
          }

          .line {
            color: var(--text-color-secondary);
            padding: 0.1rem 0.5rem;

          }
        }

        .button-primary {
          margin-top: 1rem;
        }
      }

      &.resolved {
        .markdown-body {
          display: none;
        }
      }

      &.reply .comment-header {
        height: 3.5rem;
      }
    }
  }

  .issue-details, .pull-request-details {
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-left: 1px solid var(--border-color);
    gap: 1rem;

    .issue-detail, .pull-request-detail {
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid var(--border-color);
      width: 100%;

      h3 {
        font-size: 0.75rem;
        color: var(--text-color-secondary);
        margin-bottom: 0.5rem;
      }

      img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }

      div {
        display: flex;
        margin: 0.25rem 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .label {
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        background-color: var(--background-color-two);
        color: var(--text-color);
        margin-right: 0.5rem;
        font-size: 0.9rem;
      }

      .icon {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--background-color-two);
        margin-right: 0.5rem;

        svg {
          width: 1rem;
          height: 1rem;
          fill: var(--text-color);
        }
      }

      .state-changes_requested, .issue-closed, .pull-request-closed {
        .icon {
          svg {
            fill: var(--error-color);
          }
        }
      }

      .state-approved, .issue-open, .pull-request-open {
        .icon {
          svg {
            fill: var(--primary-color);
          }
        }
      }

      .state-pending, .state-commented, .issue-draft, .pull-request-draft {
        .icon {
          svg {
            fill: var(--text-color-secondary);
          }
        }
      }
    }
  }
}
