.pull-request-page {

  .input-wrapper {
    width: 100%;
  }

  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;

    .opened-by {
      display: flex;
      margin: 0 0 0.5rem 0;

      color: var(--text-color-secondary) !important;

      height: 1rem;

      img {
        width: 1.24rem;
        height: 1.25rem;
        margin: 0rem 0.25rem;
        border-radius: 50%;
      }

      .branch {
        color: var(--text-color) !important;
        font-weight: bold;
        margin: 0rem 0.25rem;
      }
    }

    .edit-button-wrapper {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      .button-primary-outline {
        aspect-ratio: 1;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: var(--primary-color-dark);

        svg {
          width: 1.24rem;
          height: 1.25rem;
        }
      }

      .save-edit,
      .cancel-edit {
        height: min-content;
        padding: 0.5rem 1rem;
      }

      .cancel-edit {
        aspect-ratio: auto;
      }
    }
  }

  .pull-request-header {
    .created-at {
      font-size: 1rem !important;
      font-weight: normal !important;
      color: var(--text-color-secondary) !important;
    }
  }

  .pull-request-nav {
    margin: 1rem 0;
    background-color: var(--background-color-one);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    gap: 1rem;

    a {
      background-color: var(--background-color-two);
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      border: 2px solid transparent;

      &:hover {
        background-color: var(--primary-color-dark);
      }

      &.active {
        border: 2px solid var(--primary-color-dark);
      }
    }
  }

  .file-view {
    width: 100%;
  }
}
