.repository-page {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  .file-list, .issues-list, .issue-list {
    width: 100%;
    height: calc(100vh - 5.5rem);
    overflow-y: auto;
    padding: 1rem;
    border-radius: 1rem;

    background-color: var(--background-color-one);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .file, .issue {
      display: flex;
      padding: 1rem;
      gap: 0.5rem;
      border-radius: 1rem;
      background-color: var(--background-color-two);
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--primary-color);
        cursor: pointer;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;

        path {
          stroke: var(--text-color-secondary);
        }
      }
    }

    pre {
      background-color: var(--background-color-two);
      padding: 1rem;
      border-radius: 1rem;
    }
  }
}
