.repository-page .sidebar {
  width: 20%;
  overflow-y: auto;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  position: sticky;
  top: 0;

  // This makes it align with the files in the filelist (that contaoner has 1rem padding)
  margin-top: 1rem;

  .sidebar-item {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--background-color-one);
    transition: all 0.3s ease;
    position: relative;
    border: 2px solid transparent;

    &:hover:not(.active) {
      background-color: var(--primary-color);
      color: var(--text-color);
    }

    &.active {
      border-color: var(--primary-color-dark);
      color: var(--text-color);
    }

    .count {
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--primary-color-dark);
      color: var(--text-color);
      border-radius: 1rem;
      padding: 0.25rem 0.5rem;
    }
  }

  .users-list {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--background-color-two);

    .user {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }
}
