.item-comment {
  display: flex;
  flex-direction: column;

  .item-comment {
    .item-comment-content {
      border: none !important;
    }
  }
}

.item-comment-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color-secondary);
  background-color: var(--background-color-one);
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.item-comment-header img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.item-comment-content {
  border: 2px solid var(--background-color-one);
  border-radius: 0 0 1rem 1rem;
}

.item-comment-content :global(.diff-hunk) {
  margin: 0.5rem;
}

.item-comment-body :global(.markdown-body) {
  height: auto;
}

.item-comment-body :global(.markdown-body p),
.item-comment-body :global(.markdown-body li),
.item-comment-body :global(.markdown-body strong) {
  color: var(--text-color);
}

.item-comment-body :global(.markdown-body) {
  border: none !important;
}

.item-comment-replies {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.item-comment-replies {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item-comment-resolved .item-comment-header {
  border-radius: 1rem;
}

.item-comment-resolved .item-comment-body {
  height: 0;
  overflow: hidden;
}
