main {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  .organizations {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 33%;

    .organization {
      display: flex;

      background-color: var(--background-color-one);
      border: none;
      padding: 1.5rem 0.5rem;
      border-radius: 0.5rem;
      cursor: pointer;

      flex-direction: column;
      text-align: left;

      img {
        border-radius: 50%;
        margin-right: 0.5rem;
        height: 2rem;
        width: 2rem;
      }
    }
  }
}
