body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--background-color);
  min-height: 100vh;
  min-width: 100vw;
}

/* Ensure the SPA root fills the viewport */
#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

* {
  font-family: var(--font-family);
  color: var(--text-color);
  transition: all 0.3s ease;
}

.button-primary {
  background-color: var(--primary-color);
  width: fit-content;
  padding: 0.5rem 1rem;
  height: 2.5rem;
  font-size: 14px;
  border-radius: 1rem;
  border: 2px solid transparent;

  &:hover {
    background-color: var(--primary-color-dark);
    cursor: pointer;
  }

  &-outline {
    border-radius: 1rem;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;

    &:hover {
      background-color: var(--primary-color);
      cursor: pointer;
    }
  }
}

.button-error {
  background-color: var(--error-color);
  width: fit-content;
  padding: 0.5rem 1rem;
  height: 2.5rem;
  font-size: 14px;
  border-radius: 1rem;
  border: 2px solid transparent;

  &:hover {
    background-color: var(--error-color-dark);
    cursor: pointer;
  }

  &-outline {
    border-radius: 1rem;
    background-color: transparent;
    border: 2px solid var(--error-color);
    padding: 0.5rem 1rem;

    &:hover {
      background-color: var(--error-color);
      cursor: pointer;
    }
  }
}
