header {
  background-color: var(--background-color-one);
  padding: 0.5rem;

  display: flex;
  align-items: center;

  .organization {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem;

    div,
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 1.2rem;

      @media screen and (max-width: 768px) {
        .name {
          display: none !important;
        }
      }
    }

    img {
      border-radius: 50%;
      margin-right: 0.5rem;
      height: 2rem;
      width: 2rem;
    }

    .repos {
      display: flex;
      gap: 1rem;
      overflow: hidden;
      max-width: 0;
      opacity: 0;
      transition: max-width 0.3s ease, opacity 0.3s ease;
    }

    &.selected {
      background-color: var(--background-color-two);
      border-radius: 0.5rem;

      .repos {
        max-width: 500px;
        opacity: 1;

        .repo {
          background-color: var(--background-color-one);
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
          text-decoration: none;

          &.selected {
            background-color: var(--primary-color);
          }
        }
      }
    }
  }
}
