.repo-dashboard {
  height: 100%;
  width: 100%;

  display: flex;
  gap: 1rem;
  overflow: auto;

  .repo-main {
    width: calc(85vw - 3rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  .group {
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    border-radius: 0.5rem;
    width: calc(95% - 1rem);
    margin: 1rem auto -0.5rem auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .group-title {
      font-size: 0.75rem;
      color: var(--text-color-secondary);
    }
  }
}
