.repo-dashboard {
  height: 100%;
  width: 100%;

  display: flex;
  gap: 1rem;
  overflow: auto;

  .repo-main {
    width: calc(85vw - 3rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  .button-primary {
    width: calc(95%);
    margin-left: 2.5%;
    margin-top: 1rem;
  }
}
