.job-log-viewer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loading p {
  margin: 4rem;
  color: var(--text-color-secondary);
  font-size: 1.25rem;
  text-align: center;
}

.steps-container {
  flex: 1;
  overflow-y: auto;
  padding: 0.75rem;

  /* Scrollbar styling */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text-color-secondary);
    border-radius: 4px;

    &:hover {
      background-color: var(--text-color);
    }
  }
}
