.job-log-viewer {
  width: 100%;
  height: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;

  .steps-container {
    flex: 1;
    overflow-y: auto;
    padding: 0.75rem;
  }
}
