.markdown-container {
  header {
    background-color: var(--background-color-one);
    padding: 0.5rem 1rem;
    border-radius: 1rem 1rem 0 0;
    border: 2px solid var(--border-color);
    border-bottom: none;

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 0.5rem;

    .button-primary-outline {
      border-color: var(--primary-color-dark);
      padding: 0.25rem 0.5rem;
    }

    .markdown-shortcuts {
      display: flex;
      gap: 0.2rem;

      .markdown-shortcut {
        border: 2px solid var(--primary-color-dark);
      }
    }
  }

  .markdown-body {
    padding: 1rem;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 1rem;

    :global(p),
    :global(li),
    :global(strong) {
      color: var(--text-color-secondary);
    }

    :global(blockquote) {
      opacity: 0.8;
    }

    :global(p ~ blockquote) {
      margin-bottom: 0.25rem;
    }

    :global(blockquote + p) {
      margin-bottom: 1.25rem;
    }

    :global(hr) {
      background-color: var(--text-color-secondary);
      height: 1px;
      border: none;
      opacity: 0.5;
      width: 90%;
    }

    :global(a) {
      color: var(--primary-color);
    }

    :global(pre) {
      background-color: var(--background-color-one);
    }

    :global(img) {
      border-radius: 1rem;
      max-width: 50% !important;
      height: fit-content !important;
    }
  }

  .markdown-editor {
    width: 100%;
    background-color: var(--background-color);
    box-sizing: border-box;

    padding: 1rem;
    font-size: 1rem;
    resize: vertical;
    transition: none;
    border-radius: 0 0 1rem 1rem;

    height: auto;
    min-height: 10rem;
  }

  &.can-edit {
    .markdown-body {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: none;
    }
  }
}
