.notification {
  border: 2px solid var(--surface-at-2);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  &:hover {
    border: 2px solid var(--primary);
  }

  h3, p {
    margin: 0;
    text-align: left;
  }

  .title {
    font-size: 1.1rem;
    font-weight: 400;
  }

  p {
    font-size: 0.9rem;
    color: var(--on-surface-variant);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  :global(.icon) {
    padding: 0.5rem;

    :global(svg) {
      color: var(--on-surface-variant);
      fill: var(--on-surface-variant);
      stroke: var(--on-surface-variant);
    }
  }

  :global(.icon:hover) {
    :global(svg) {
      color: var(--primary);
      fill: var(--primary);
      stroke: var(--primary);
    }
  }
}
