.notification {
  border: 2px solid var(--background-color-two);
  padding: 1rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3, p {
    margin: 0;
  }

  .title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  p {
    font-size: 0.9rem;
    color: var(--text-color-secondary);
  }
}
