.pr-notice {
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--primary-color-dark);
  color: var(--text-color-secondary);

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  b {
    color: var(--text-color-secondary);
  }
}
