.repo-dashboard {
  height: 100%;
  width: 100%;

  display: flex;
  gap: 1rem;
  overflow: auto;

  .repo-main {
    width: calc(85vw - 3rem);
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    overflow-x: auto;

    .column {
      min-width: 20rem;
      max-width: 20rem;

      border: 2px solid var(--border-color);

      padding: 1rem;
      border-radius: 0.5rem;

      height: 95%;
      overflow-y: auto;

      .title {
        font-size: 0.85rem;
        display: block;
        margin-bottom: 0.5rem;
        color: var(--text-color-secondary);
        font-weight: 500;
      }

      :global(.list-item) {
        margin-bottom: 0.5rem;
        padding: 0.75rem 1rem;
        gap: 0.5rem;

        
        :global(.meta) {
          display: none;
        }

        :global(.content) {
          font-size: 0.85rem;
        }

        :global(.icon svg) {
          width: 1rem;
        }

        :global(img) {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      &:not(.only-me) {
        :global(.list-item.assigned) {
          border: 2px solid var(--starred-color);
        }
      }

      &.only-me {
        :global(.list-item:not(.assigned)) {
          display: none;
          border: none;
        }
      }
    }
  }
}
