.repo-dashboard {
  height: 100%;
  width: 100%;

  display: flex;
  gap: 1rem;
  overflow: auto;

  .repo-main {
    width: calc(85vw - 3rem);
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    .column {
      width: 10rem;
      overflow: hidden;
    }
  }
}
