.repo-dashboard {
  height: 100%;
  width: 100%;

  display: flex;
  gap: 1rem;
  overflow: auto;

  .repo-main {
    width: calc(min(100ch, 90%));
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto;
  }
}
