.repo-dashboard {
  height: 100%;
  width: 100%;

  display: flex;
  gap: 1rem;
  overflow: auto;

  .repo-main {
    width: calc(85vw - 3rem);
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    overflow-x: auto;

    .column {
      min-width: 20rem;
      max-width: 20rem;

      background-color: var(--background-color-one);
      padding: 1rem;
      border-radius: 0.5rem;

      height: 95%;

      :global(.list-item) {
        margin-bottom: 0.5rem;
        background-color: var(--background-color);
        padding: 1rem;
        gap: 0.5rem;

        :global(.meta) {
          display: none;
        }

        :global(.icon svg) {
          width: 1em;
        }
      }
    }
  }
}
