.item-wrapper .comment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;

  border-radius: 1rem;
  border: 1px solid var(--outline-variant);

  .comment-header {
    display: flex;
    align-items: center;
    background-color: var(--surface);
    gap: 0.25rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--outline-variant);
    
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin-right: 0.25rem;
    }

    .author {
      font-weight: 500;
    }

    .created-at {
      color: var(--secondary);
    }
  }

  .comment-body {
    padding: 1rem;
  }
}
