<div class="option-wrapper frosted-glass">
  <%= @item.milestone&.title %>

  <%= @item.labels.map { |label| label.name }.join(", ") %>
  <%= @item.assignees.map { |assignee| assignee.display_name }.join(", ") %>

</div>