<% content_for :title, "#{@repository.name} · #{@repository.organization.name}" %>
<%= tabs(items: filter_tabs) %>

<div class="filter-with-item-wrapper">
  <%= render partial: "filters" %>

  <div class="items">
    <% @items.each do |item| %>
      <%= render partial: "item", locals: { item: item } %>
    <% end %>
  </div>
</div>

<div class="pagination">
  <%= paginate @items %>
</div>
