.merge-panel {
  background-color: var(--background-color-one);
  padding: 1rem;
  border-radius: 2rem;

  display: flex;
  flex-wrap: wrap; 
  gap: 0.5rem;

  &:not(:has(button)) {
    display: none;
  }

  .workflow {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}
