.merge-panel {
  background-color: var(--background-color-one);
  padding: 1rem;
  border-radius: 2rem;

  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  &:not(:has(button)) {
    display: none;
  }
}
