.merge-panel {
  background-color: var(--background-color-one);
  padding: 1rem;
  border-radius: 2rem;

  display: flex;
  flex-wrap: wrap; 
  gap: 0.5rem;

  &:not(:has(button)) {
    display: none;
  }

  .workflow {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    background-color: var(--background-color);
    border-radius: 1rem;
    padding: 1rem;

    height: 5rem;
    overflow: auto;

    .workflow-name {
      font-size: 0.85rem;
      line-height: 0rem;
      color: var(--text-color-secondary);
    }
  }
}
