.new-pr {
  height: 100%;
  display: flex;
  gap: 1rem;
  overflow: auto;

  .new-pr-main {
    width: calc(85vw - 3rem);
    display: flex;
    gap: 1rem;
    margin-top: 1rem; 

    .inputs {
      width: 100ch;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @media screen and (max-width: 768px) {
        width: 85%;
      }
    }

    .templates {
      background-color: var(--background-color-one);
      width: 15%;
      height: min-content;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-radius: 1rem;

      .template {
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: var(--background-color-two);
        border: 2px solid var(--background-color-one);
        color: var(--text-color-one);
        font-size: 0.8rem;
        border: none;
        text-align: left;

        &:hover {
          background-color: var(--primary-color-dark);
        }

        &.disabled {
          cursor: not-allowed;
          background-color: var(--background-color-one);
          color: var(--text-color-secondary);
        }

        &.selected {
          border: 2px solid var(--primary-color-dark);
          color: var(--text-color-light);
        }
      }
    }
  }
}
