.new-pr {
  height: 100%;
  display: flex;
  gap: 1rem;
  overflow: auto;

  .new-pr-main {
    width: calc(85vw - 3rem);
    display: flex;
    gap: 1rem;
    margin-top: 1rem; 

    .inputs {
      width: 85%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .templates {
      background-color: var(--background-color-one);
      width: 15%;
      height: min-content;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-radius: 1rem;

      .template {
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: var(--background-color-two);
        color: var(--text-color-one);
        font-size: 0.8rem;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: var(--primary-color-dark);
        }
      }
    }
  }
}
