.repository-show {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1.5rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .repository-header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .organization {
      color: var(--text-secondary);
      font-size: 0.9rem;
    }

    .description {
      color: var(--text-secondary);
    }
  }
}
