<% content_for :title, "Git" %>

<%= header(title: "Git" , items: []) %>

<% @organizations.each do |organization| %>
  <p><%= organization.name %></p>

  <% organization.repositories.each do |repository| %>
    <p><%= repository.name %></p>
  <% end %>
<% end %>
