.markdown-body {
  h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    font-weight: 600;
    margin-top: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  p, li {
    color: var(--text-color-secondary);
  }

  code, pre {
    background-color: var(--background-color-two) !important;
  }
  
  pre {
    padding: 1rem;
    border-radius: 1rem;
  }
}