.item-header {
  background-color: var(--background-color-one);
  padding: 1rem;
  border-radius: 0.5rem;

  display: flex;
  gap: 1rem;
  align-items: center;

  h2 {
    margin: 0;
  }

  .details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    color: var(--text-color-secondary);
  }

  img {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }

  :global(.item-open) {
    :global(svg) {
      stroke: var(--success-color);
      fill: var(--success-color);
    }
  }
  
  :global(.item-closed) {
    :global(svg) {
      stroke: var(--error-color);
      fill: var(--error-color);
    }
  }
  
  :global(.item-merged) {
    :global(svg) {
      stroke: var(--merged-color);
      fill: var(--merged-color);
    }
  }
  
  :global(.item-draft) {
    :global(svg) {
      stroke: var(--draft-color);
      fill: var(--draft-color);
    }
  }
}
