.item-header {
  background-color: var(--background-color-one);
  padding: 1rem;
  border-radius: 0.5rem;

  h2 {
    margin: 0;
  }

  .item-state {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    text-transform: capitalize;

    width: fit-content;
    padding: 0.25rem;
    background-color: var(--success-color);
    border-radius: 0.5rem;

    &.item-state-closed {
      background-color: var(--error-color);
    }
  }

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    color: var(--text-color-secondary);
  }

  img {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }
}
