.item-overview {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow: auto;

  .item-main {
    width: min(110ch, 100%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto;

    &.files {
      width: 98%;
      margin: 1rem auto 0 auto;
    }

    .copy-url {
      align-self: flex-end;
      border: 2px solid var(--primary-color-dark);
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    .item-header-pr-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--text-color-secondary);
      margin: 0.5rem 0;

      img {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
      }
    }
  }
}
