.modal-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  border-top: 1px solid var(--background-color-two);
  gap: 1rem;

  .navigation-buttons {
    display: flex;
    gap: 0.75rem;
  }
}
