.assignee,
.reviewer {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  width: 100%;

  img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  :global(.icon) {
    position: absolute;
    right: 0;
  }
}

.reviewer {
  :global(.icon.review) {
    display: block;
  }

  :global(.icon.sync) {
    display: none;
    cursor: pointer;
  }

  &:hover {
    :global(.icon.sync) {
      display: block;
    }

    :global(.icon.review) {
      display: none;
    }
  }
}

.add-reviewer {
  width: 18rem;
  position: absolute;
  right: -20rem;
  top: 0;

  border-radius: 0.5rem;

  background-color: var(--background-color-two);
  border: 1px solid var(--border-color);
  padding: 1rem;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .label {
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.75rem;
  }
}

.linked-item {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  border: none;

  span {
    margin-left: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.85rem;
    color: var(--text-color-secondary);
  }

  :global(.icon) {
    opacity: 0.7;
  }

  :global(.open) {
    :global(svg) {
      stroke: var(--success-color);
      fill: var(--success-color);
    }
  }

  :global(.closed) {
    :global(svg) {
      stroke: var(--error-color);
      color: var(--error-color);
    }
  }

  :global(.merged) {
    :global(svg) {
      stroke: var(--merged-color);
      color: var(--merged-color);
    }
  }

  :global(.draft) {
    :global(svg) {
      stroke: var(--draft-color);
      fill: var(--draft-color);
    }
  }
}
