.assignee,
.reviewer {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  width: 100%;

  img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  :global(.icon) {
    position: absolute;
    right: 0;
  }
}

.reviewer {
  :global(.icon.review) {
    display: block;
  }

  :global(.icon.sync) {
    display: none;
    cursor: pointer;
  }

  &:hover {
    :global(.icon.sync) {
      display: block;
    }

    :global(.icon.review) {
      display: none;
    }
  }
}

.add-reviewer {
  width: 18rem;
  position: absolute;
  right: -20rem;
  top: 0;

  border-radius: 0.5rem;

  background-color: red;
  padding: 1rem;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .label {
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.75rem;
  }
}
