.project-item {
  padding: 0.5rem;
  border: 1px solid var(--background-color-two);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .project-link {
      text-decoration: none;
      color: var(--text-color-secondary);
      font-size: 0.85rem;
    }

    .remove-project {
      background-color: transparent;
      border: 1px solid var(--error-color);
      border-radius: 1rem;
      padding: 0.25rem 0.5rem;
      font-size: 0.75rem;
      cursor: pointer;

      &:hover {
        background-color: var(--error-color);
        color: var(--background-color);
      }
    }
  }
}

.assignee,
.reviewer {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  width: 100%;

  img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  :global(.icon) {
    position: absolute;
    right: 0;
  }
}

.reviewer {
  :global(.icon.review) {
    display: block;
  }

  :global(.icon.sync) {
    display: none;
    cursor: pointer;
  }

  &:hover {
    :global(.icon.sync) {
      display: block;
    }

    :global(.icon.review) {
      display: none;
    }
  }
}

.labels {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .label {
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.75rem;
  }
}

.linked-item {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: 1;
  text-decoration: none;
  gap: 0.5rem;
  padding: 0.25rem 0;

  margin-left: 0.5rem;
  white-space: nowrap;
  font-size: 0.85rem;
  color: var(--text-color-secondary);

  &:hover {
    color: var(--text-color);
  }

  :global(.open) {
    :global(svg) {
      stroke: var(--success-color);
      fill: var(--success-color);
    }
  }

  :global(.closed) {
    :global(svg) {
      stroke: var(--error-color);
      color: var(--error-color);
    }
  }

  :global(.merged) {
    :global(svg) {
      stroke: var(--merged-color);
      color: var(--merged-color);
    }
  }

  :global(.draft) {
    :global(svg) {
      stroke: var(--draft-color);
      fill: var(--draft-color);
    }
  }
}


.no-linked-items {
  font-size: 0.85rem;
  color: var(--text-color-secondary);
  padding: 1rem 0;
  text-align: center;
  font-style: italic;
}

.file-selector {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .file-name {
    background-color: transparent;
    border: none;
    text-align: left;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.85rem;
    color: var(--text-color-secondary);
    cursor: pointer;

    &.selected, &:hover {
      background-color: var(--background-color-two);
      color: var(--text-color);
    }
  }
}
